.parser-component {
  padding: 20px 40px;

  .content {
    text-align: center;
    padding: 10px 0;

    .form-width {
      width: 250px;
    }
  }

  table {
    margin-top: 20px;
    width: 100%;
  }
}

